
/* Styling for HTML elements */

body{
    background: lightgray;
}


/* Selecting elements by class */

.header{color: #5ac4c2;
    font-size: 20px;
    padding-bottom: 80px;
    padding-top:50px;
    margin-left: 30px;
    text-align: left;

}
.navbar{
    background: white;

}

.navbar-brand{
    color: white;
    background: #5ac4c2;
    margin-left: 5px;
}

.col-md-7{
    background: white;
    margin-top:50px;
    margin-right: 20px;
    margin-left: 100px;
    padding-right: 50px;
    padding-left: 20px;
}

.col-md-4 {
    background: white;
    margin-top:50px;
    
}

.container{
    background: white;
    margin-top: 40px;
    padding-bottom: 30px;
}


/* Selecting elements by ID */

#summary,
#summary_image,
#vis_image,
#comparison,
#comp_image
{
    float:left;
}

#figure{
    position: relative;
}

#summary_image{
    width:400px;
    height:400px;
    margin-left: 30px;
    margin-right:15px;
    margin-bottom: 50px;
}

#summary{
    color: slategrey;
    font-size: 15px;
    width: 100%;
    
}

#text{
    margin-top: 80px;
}

#vis_image{
    width:200px;
    height: 200px;
    margin-left:60px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#ext_header{
    color: #5ac4c2;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;

}

#comp_text{
    margin-left:100px;
    margin-bottom: 20px;
}
#comp_image{
    margin-top:10px;
    width: 100%;
    height: 40%;
    padding-left: 100px;
    padding-right: 100px;
}

#fig_titles{
    color: #5ac4c2;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 200px;
}

#vis_text{
    margin-left: 30px;
}