
/* Styling for HTML elements */

body{
    background: lightgray;
}

h1{color: #5ac4c2;
    font-size: 25px;
    padding-bottom: 80px;
    padding-top:50px;
    margin-left: 30px;
    text-align: left;

}

/* Selecting elements by class */

.navbar{
    background: white;

}

.navbar-brand{
    color: white;
    background: #5ac4c2;
    margin-left: 5px;

}

.container{
    background: white;
    margin-left: 170px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

/* Selecting elements by ID */

#summary,
#summary_image {
    float:left;
}
#figure{
    position: relative;
}

#summary_image{
    width:350px;
    height:350px;
    margin-top: 20px;
    margin-left: 30px;
}

#summary{
    color: slategrey;
    width: 100%;
    font-size: 15px;
}

